<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="log4net.Config" value="log4net.config" />
		<add key="log4net.Config.Watch" value="True" />
		<add key="FTPHost" value="ftp://post.edis.co.nz" />
		<add key="FTPUser" value="mml" />
		<add key="FTPPassword" value="mMl@edI%S2021" />
		<add key="FTPDirTo" value="/ToEDIS" />
		<add key="FTPDirFrom" value="/FromEDIS" />
		<add key="InboxPath" value="C:\BriscoeEDI\Inbox" />
		<add key="OutboxPath" value="C:\BriscoeEDI\Outbox" />
		<add key="ProcessedPath" value="C:\BriscoeEDI\Processed" />
		<add key="FilePrefix" value="PO" />
		<add key="SuppressSendingAck" value="no" />
		<add key="RefreshSecs" value="60" />
		<add key="OdooUrl_20221213" value="https://10.0.0.35/xmlrpc/2" />
		<add key="OdooUrl" value="https://10.0.0.35:8443/MML_Production/xmlrpc/2" />
		<add key="OdooDb" value="MML_Production" />
		<add key="OdooUser" value="enquiries@mml.co.nz" />
		<add key="OdooPass" value="global" />
		<add key="PostGresConnectionString" value="Server=10.0.0.35;Port=5432;User Id=mml;Password=Enabling#123;Database=MML_Production;Timeout=30;CommandTimeout=120;Pooling=true;MinPoolSize=1;MaxPoolSize=500;ConnectionIdleLifeTime=15" />
		<add key="OdooCompany" value="MML Limited" />
		<add key="BriscoeId" value="3324" />
		<add key="PriceListName" value="Briscoes Products" />
		<add key="SMTPHost" value="outlook.office365.com" />
		<add key="SMTPPort" value="587" />
		<add key="SMTPUser" value="BriscoeOrders@mml.co.nz" />
		<add key="SMTPPassword" value="Mml*3030" />
		<add key="SMTPUseSSL" value="true" />
		<add key="SMTPTo" value="edialert@mml.co.nz" />
		<add key="SMTPCC" value="jono@mml.co.nz" />
		<add key="SMTPBCC" value="george@totalsql.co.nz" />
		<add key="SQLConnectionString" value="Server=10.0.0.6;Database=BriscoesEDI;Trusted_Connection=False;User ID=edi;Password=ediPassword2021" />
		<add key="RemoveDuplicates" value="NOT IN USE" />
		<add key="ServiceSleepMins" value="15" />

		<add key="xFTPHost" value="ftp://post.edis.co.nz" />
		<add key="xFTPUser" value="mml" />
		<add key="xFTPPassword" value="mMl@edI%S2021" />
		<add key="xFTPDirTo" value="/Test/ToEDIS" />
		<add key="xFTPDirFrom" value="/Test/FromEDIS" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>